<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.benja.canvas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wumpus_icon"
        android:label="Wumpus"
        android:roundIcon="@drawable/wumpus_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectPolyActivity" />
        <activity android:name=".Multiplayer" />
        <activity android:name=".SelectFromLibActivity" />
        <activity android:name=".Coordenadas" />
        <activity android:name=".DrawMazeActivity" />
        <activity android:name=".Bluetooth.BluetoothChat" />
        <activity android:name=".Bluetooth.DeviceListActivity" />
        <activity android:name=".Bluetooth.SelectLabToShare" />
        <activity android:name=".MapActivity"></activity>
    </application>

</manifest>