<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clavicusoft.wumpus">

    <!-- Asks for the Bluetooth and location permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Sets the default values for the game such as it's icon and opening screen -->
    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/wumpus_icon"
        android:label="Wumpus"
        android:roundIcon="@drawable/wumpus_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Select.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Allowed activities -->
        <activity
            android:name=".Select.SelectPolyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Select.Multiplayer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Select.SelectFromLibActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Map.Coordinates"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Draw.DrawMazeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bluetooth.BluetoothChat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bluetooth.DeviceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bluetooth.SelectLabToShare"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Map.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Camera.CameraHUDActivity"
            android:label="@string/title_activity_camera_hud"></activity>
    </application>

</manifest>